@charset "UTF-8";

  /* CORES

Cor de fundo: rgb(34, 34, 34);
Roxo: rgb(132, 14, 201);
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: 0 auto;
}

/*CONFIG GERAL */

body, html {
    margin: 50px;
    background-color: rgb(34, 34, 34);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 80vh;
}

/* NAV */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > nav > ul {
    display: flex;
    list-style: none;
    
}

header > nav > ul > li {
    padding-left: 40px;
    
}

header > nav > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

header > nav > ul > li > a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3 all;
}

.inscreva-se {
    border: 2px solid rgb(132, 14, 201);
    border-radius: 10px;
    padding: 12px; 
    
}

.inscreva-se:hover{
    background-color: rgb(132, 14, 201);
    color: white;
}

/*CONTEÚDO PRINCIPAL*/

main {
    display: flex;
}

section {
    padding-top: 100px;
    font-size: bold;
    font-size: 1.8em;
}

span {
    color: rgb(132, 14, 201);
}

p {
    margin-top: 50px;
    width: 75%;
    font-size: .7em;
}

input {
    display: block;
    margin-top: 25px;
    padding: 15px;
    width: 50%;
    border-radius: 15px;
    border: 2px solid rgb(132, 14, 201);
}

input[type="submit"] {
    background-color: rgb(132, 14, 201);
    color: white;
    font-weight: bold;
    width: 24%;
    cursor: pointer;
}

main > aside > img {
    width: 550px;
    margin-top: 150px;
}


